{% extends 'base.html' %}

{% block main_content %}

    {% if user_fruits.count > 0 %}
        <!-- Dashboard Page -->
        <h2>Fruits</h2>
        <section id="dashboard">
            <!-- Display a div "fruit" with information about each post (if any)-->

            {% for fruit in user_fruits %}
                {% include 'partials/fruit_card.html' %}
            {% endfor %}

        </section>
    {% else %}
        <!-- Display a heading if there are no posts -->
        <h2>No fruit info yet.</h2>
    {% endif %}
{% endblock %}